@import "tailwindcss";

@theme {
  --color-purple600: #7164c0;
  --color-purple400: #9492db;
  --color-purple200: #d9ddee;

  --color-gray600: #95989c;
  --color-gray200: #e6e9ed;
  --color-gray100: #eeeeef;
}

